<h2>Creating Model ML for Translation_office Client per Day </h2>

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pylab import rcParams
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale

import seaborn as sb
sb.set_style('whitegrid')
from collections import Counter

In [19]:
%matplotlib inline
rcParams['figure.figsize'] = 5,4

In [20]:
translations= pd.read_csv('Translation_Total.csv',sep=';')
translations.head()

         date       day  month  year  total_day  client_number
0  2022-01-31    Monday      1  2022      12500              4
1  2022-01-23    Sunday      1  2022      19200              7
2  2022-01-13  Thursday      1  2022      14000              5
3  2022-01-04   Tuesday      1  2022      17800              6
4  2022-01-27  Thursday      1  2022      24200              7

In [21]:
print(translations.corr())

                  month      year  total_day  client_number
month          1.000000 -0.989023   0.070744       0.162570
year          -0.989023  1.000000  -0.072833      -0.162121
total_day      0.070744 -0.072833   1.000000       0.733805
client_number  0.162570 -0.162121   0.733805       1.000000