<h2>Creating Model ML for Translation_office Client per Day </h2>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
translations= pd.read_csv('Translation_Total.csv',sep=';')
translations.head()

         date       day  month  year  total_day
0  04/01/2022   Tuesday      1  2022      17800
1  09/01/2022    Sunday      1  2022      41500
2  15/01/2022  Saturday      1  2022      13000
3  20/01/2022  Thursday      1  2022      25500
4  25/01/2022   Tuesday      1  2022      11600