<h2>Creating Model ML for Translation_office Client per Day </h2>

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pylab import rcParams
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale,LabelEncoder

import seaborn as sb
sb.set_style('whitegrid')
from collections import Counter

In [37]:
%matplotlib inline
rcParams['figure.figsize'] = 5,4

In [39]:
translations= pd.read_csv('Translation_Totals.csv',sep=';')
translations.head()

         date       day  month  year  total_day  client_number
0  2022-01-31    Monday      1  2022      12500              4
1  2022-01-23    Sunday      1  2022      19200              7
2  2022-01-13  Thursday      1  2022      14000              5
3  2022-01-04   Tuesday      1  2022      17800              6
4  2022-01-27  Thursday      1  2022      24200              7

In [40]:
print(translations.corr())

                  month      year  total_day  client_number
month          1.000000 -0.989023   0.070744       0.162570
year          -0.989023  1.000000  -0.072833      -0.162121
total_day      0.070744 -0.072833   1.000000       0.733805
client_number  0.162570 -0.162121   0.733805       1.000000

In [41]:
encoder= LabelEncoder()

<h4>Seting up the variables "X" and the target "y" </h4>

In [26]:
translations_data = translations[['day','month','year']].values

translations_target = translations[['client_number']]

translations_data_names = ['day','month','year']

X, y =scale(translations_data), translations_target

ValueError: could not convert string to float: 'Monday'

<h4>We have a probleme hear days are categorical variable we could't applyin a scale, for that we are going to do some one hot encoding( transformin day_column to a numirical variables the result should be 1-> 7 of course we have 7 days in the week) </h4>

In [33]:
translations['day'].count

<bound method Series.count of 0         Monday
1         Sunday
2       Thursday
3        Tuesday
4       Thursday
         ...
102     Saturday
103    Wednesday
104     Saturday
105    Wednesday
106      Tuesday
Name: day, Length: 107, dtype: object>

<h4> cheking for the missing values </h4>

In [35]:
missing_values = X==np.NAN
X[missing_values == True]

NameError: name 'X' is not defined